@charset "UTF-8";

/* Todas as demais mídias */

/* Typical Device Breakpoints

Celular (Retrato): de 320px a 414px
Celular (Paisagem): de 568px a 812px
Tablet (Retrato): de 768px a 834px
Tablet (Paisagem): de 1024px a 1112px
Laptop/Notebook: geralmente acima de 1200px
Desktop: geralmente acima de 1200px
TV: geralmente acima de 3840px

*/

@media print {
    * {
        font-family: 'Courier New', Courier, monospace;
    }
    
    body {
        background-image: url(../imagens/back-print.jpg);
    }

    main {
        width: 90vw;
        border: 2px solid black;
    }

    main::after {
        content: "Essa impressão foi feita através do site www.cursoemvideo.com";
        text-decoration: overline;
    }

    main h1{
        text-shadow: none;
        color: black;
    }

    #phone {display: none;}
    #tablet {display: none;}
    #print {display: block;}
    #pc {display: none;}
    #tv {display: none;}
}

@media screen and (min-width: 768px) and (max-width: 1024px) { /* Tablet*/
    body {
        background-image: url(../imagens/back-tablet.jpg);
    }
    #phone {display: none;}
    #tablet {display: block;}
    #print {display: none;}
    #pc {display: none;}
    #tv {display: none;}
}

@media screen and (min-width: 1024px) and (max-width: 1980px) { /* Desktop*/
    body {
        background-image: url(../imagens/back-pc.jpg);
    }
    #phone {display: none;}
    #tablet {display: none;}
    #print {display: none;}
    #pc {display: block;}
    #tv {display: none;}
}

@media screen and (min-width: 1980px) { /* Grandes telas*/
    body {
        background-image: url(../imagens/back-tv.jpg);
    }
    #phone {display: none;}
    #tablet {display: none;}
    #print {display: none;}
    #pc {display: none;}
    #tv {display: block;}
}